.app-header {
    background-color: beige;
    height: 75px;
    .logo {
        font-size: 2rem;
        font-weight: bold;
    }

    .main-nav {
        font-size: 1.3rem;

        > *:not(:last-child) {
            margin-inline-end: 2rem;
        }

        a:hover {
            color: lightblue;
        }
    }
}