.port-preview {
    .status {
        height: 2rem;
        aspect-ratio: 1/1;
        border: 1px solid black;

        &.in-details {
            height: 14rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $clr2;
        }
    }
}