.main-layout {
    display: grid;
    grid-template-columns:
        minmax(20px, 1fr) 
        minmax(auto, 1060px) 
        minmax(20px, 1fr);

    >*:not(.full) {
        grid-column: 2;
    }

    .full {
        grid-column: 1 / -1;
    }
}